/*
 * === Footer style ===
 */

/* Footer style */
footer{
	background-color: #00FF00;
	position: absolute;
	bottom: 0;
	height: 60px;
	width: 100%;
	text-align: center;
}

footer p{
	height: 60px;
	line-height: 60px;
	margin: 0;
}

